# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Databricks
.databricks/

# Logs
*.log

# Environment Files
.env

# Temporary Files
*.tmp